* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: end;
}

#top {}

#about {}

#projects {}

#contact {}

body{
    font-family: "Poppins", sans-serif;
}

header {
    max-width: 100%;
}


main {
    max-width: 1080px;
}



.card-background-color {
    background-color: rgba(211, 211, 211, 0.25);
}

.lightgreen {
    background-color: lightgreen;
}

.white {
    background-color: white;
}

.text-color-black {
    color: black;
}

.text-color-white {
    color: white;
}

.relative {
    position: relative;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.absolute-85-50 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.absolute-0-50 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
}

.black-to-gradient {
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, black, transparent);
}

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.padding32 {
    padding: 32px;
}

.padding8-16 {
    padding: 8px 16px;
}

.padding200 {
    padding: 200px;
}

.margin16 {
    margin: 16px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-justify {
    text-align: justify;
}

.justify-content-center {
    justify-content: center;
}

.image-center {
    display: block;
    margin: auto;
}

.clip-circle {
    border-radius: 50%;
    overflow: hidden;
}




.image-size-300 {
    /* height: 30vh; */
    /* width: 30vh; */

    height: 300px;
    width: 300px;
}

.width-100 {
    width: 100%;
}


.border-radius-4 {
    border-radius: 4px;
    /* overflow:scroll; */
}

.text-decoration-none {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }


}